*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --header-height: 200px;
    --font-family: "Roboto", sans-serif;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    grid-template-areas: 
    "aside header"
    "aside main";
}
header{
    background-color: aqua;
    grid-area:header;
    height: var(--header-height);
}
nav{
    display: flex;
}
nav button{
    width: 40px;
}
#nav_submit_button{
    border: 0px;
    background-color: transparent;
}
aside{
    background-color:#0c0a09;
    grid-area: aside;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 20px auto auto; */
    gap: 30px;
    align-content: flex-start;
    padding-left: 10px;
    padding-top: 20px;
}
aside img{
    height: 20px;
}
aside li img{
    height: 14px;
}
aside li{
    display: flex;
    align-items: center;
    gap: 12px;
}
aside a{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
}
aside a:hover{
    color:#d6d3d1;

}
aside ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
main{
    background-color: blanchedalmond;
    grid-area: main;
    height: calc(100vh - var(--header-height));
}